@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);

html {
  margin: 0px;
  padding: 0px;
  font-family: 'Mplus 1p';
}
body {
  padding: 70px 100px;
}

/* ヘッダー */
header {
  width: 100%;
  height: 70px;
  top: 0px;
  left: 0px;
  position: fixed;
  /*background: aliceblue;*/
  border-bottom: 1px solid #6ad1c8;
  z-index: 999;
  text-align: right;

  background-image: linear-gradient(-45deg, #fff 25%, aliceblue 25%, aliceblue 50%, #fff 50%, #fff 75%, aliceblue 75%, aliceblue);
  background-size: 20px 20px;
}
header p {
  font-size: 1.5em;
  font-weight: bold;
  color: #6ad1c8;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
}
header ul {
  margin-right: 100px;
}
button.header-link {
  font-size: 1em;
  font-weight: bold;
  padding: 4px 20px;
  margin-right: 25px;
  border: 1px solid #6ad1c8;
  border-radius: 4px;
  color: #ccc;
  background: aliceblue;
}
button.header-link:hover {
  color: #fff;
  background: rgba(210, 240, 247, 0.88);
  cursor: pointer;
}

/* div */
.block-row-left {
  float: left;
  margin-right: 25px;
}
.block-row-right {
  float: left;
}
.block-row:after {
  content: "";
  display: block;
  clear: both;
}
.partation {
  float: left;
  height: 200px;
  border-left: solid 1px gray;
}

.kakin-save {
  margin-top: 40px;
  padding: 0.5em 1em;
  color: #232323;
  background: rgb(255, 251, 244);
  border-left: solid 10px aliceblue;
}

/* モーダル */
#modal-pays, #modal-wants {
  z-index: 2;
  position: fixed;
  width: 60%;
  padding: 0 10px;
  background: #fff;
  border-radius: 20px;
}
#modal-login {
  z-index: 2;
  display: none;
  position: fixed;
  width: 700px;
  padding: 0 10px;
  background: #fff;
  border-radius: 20px;
}
#modal-overlay {
  z-index: 1;
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
}

/* 文字 */
h3 {
  position: relative;
  margin-top: 30px;
}
h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.flash {
  color: orange;
}
.small-letter {
  font-size: 0.8em;
}
.marker {
  background: linear-gradient(transparent 40%, #cce5ff 0%);
}
.count-up {
  font-size: 2em;
  font-weight: 500;
}
.price {
  font-size: 1.3em;
}

/* ボタン */
.twitter-login {
  display: block;
  width: 170px;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 30px;
  background: #55acee;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}
.twitter-login:hover {
  background: #337ab7;
}

/* リスト */
ul {
  list-style: none;
}
li {
  display: inline-block;
  text-align: center;
}
li.li-label {
  width: 85px;
}

/* テーブル */
table.list {
  margin: 15px 0px 40px 0px;
  border-collapse: collapse;
  border-spacing: 0px;
  border: solid 1px #6ad1c8;
}
thead.list-head {
  display: block;
}
tbody.list-body {
  display: block;
  overflow-y: scroll;
  height: 280px;
}
th {
  padding: 10px;
  background: aliceblue;
  table-layout: fixed;
}
td {
  padding: 5px 10px;
  border-width: 1px 0px #ccc;
  table-layout: fixed;
}
.col-1 {
  width: 40px;
}
.col-2 {
  width: 80px;
}
.col-3 {
  width: 120px;
}
.col-4 {
  width: 160px;
}
.col-5 {
  width: 200px;
}
.col-6 {
  width: 240px;
}
.col-12 {
  width: 540px;
}

/* フォーム */
input {
  border: 0;
  padding: 10px;
  font-size: 1em;
  color: #aaa;
  border: solid 1px #6ad1c8;
  margin: 10px 0px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
input.text {
  width: 200px;
}
input.number {
  width: 100px;
}
input.button {
  padding: 8px 30px;
  margin-left: 90px;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #ccc;
  background: aliceblue;
  cursor: pointer;
}
input.button:hover {
  color: #fff;
  background: rgba(210, 240, 247, 0.88);
}
