<!-- モーダル -->
<div class="block-row" id="modal-login">
  <h3>ログイン</h3>
  <div class="block-row-left">
    <form action="login.php" method="post">
      <ul>
        <p class="small-letter">IDとパスワードを入力してください。</p>
        <li class="li-label">ID</li>
        <li>
          <input type="text" name="id" />
        </li><br />
        <li class="li-label">パスワード</li>
        <li>
          <input type="text" name="password" />
        </li><br />
        <input type="submit" name="submit" class="button" value="ログイン" /><br />
        　　<a href="signup.php">ユーザー登録はこちらから</a>
      </ul>
    </form>
  </div>
  <div class="partation"></div>
  <div class="block-row-right">
    <ul>
      <p class="small-letter">SNSアカウントでのログインはこちらから。</p>
      <li>
        <a href="./oauth/login.php" class="twitter-login">
          <i class="fa fa-twitter fa-1x"></i> Twitterでログイン
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- <div id="modal-pays">
  <h3>課金したもの</h3>
  <form action="index.php" method="post">
    <ul>
      <li class="li-label">課金日</li>
      <li><input type="text" name="date" class="number" id="datepicker" /></li><br />
      <li class="li-label">金額</li>
      <li><input type="text" name="amount" class="number" />　円</li><br />
      <li class="li-label">内容</li>
      <li><input type="text" name="detail" class="text" /></li><br />
      <li class="li-label">目的</li>
      <li><input type="text" name="purpose" class="text" /></li><br />

      <input type="hidden" name="type" value="1" />
      <input type="submit" name="submit" class="button" id="modal-close" value="登　録" />
    </ul>
  </form>
</div> -->

<!-- <div id="modal-wants">
  <h3>欲しいもの</h3>
  <form action="index.php" method="post">
    <ul>
      <li class="li-label">欲しいもの</li>
      <li><input type="text" name="name" /></li><br />
      <li class="li-label">金額</li>
      <li><input type="text" name="amount" />　円</li><br />

      <input type="hidden" name="type" value="2" />
      <input type="submit" name="submit" class="button" id="modal-close" value="登　録" />
    </ul>
  </form>
</div> -->
